*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'poppins',sans-serif;
}
.nav{
    background-color: #fd6569;
    padding: 15px;

}
.con{
    padding: 15px;
    
}
.player{
    padding: 20px;
    width: 25%;
    background-color: black;
    color: cornsilk;
    border-radius: 15px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}
.p1 h3{
    color: #ff5b60;
    margin: 15px;
}
.p1 h5{
    margin:15px;
}
.player button{
    background-color: #fd6569;
    color: black;
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin: 10px;
}
.add-button{
   font-weight: bolder;
    background-color: white;
    border-color: white;
    color: #fd6569;
    border-radius: 100%;
    font-size: 40px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    position: fixed;
    border: none;
    bottom: 30px;
    right: 30px;
}
.popup{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0%;
    left:0%;
    z-index: 1;
    display: none;
}
.pop{
    background-color: #fd6569;
    width: 40%;
    padding: 40px;
    border-radius:10px ;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 2;
    display: none;
}
.pop input{
    background: transparent;
    border: none;
    border-bottom: solid black;
    width: 100px;
    margin: 5px;
    padding: 5px;
    font-family: 20px;

}
.pop textarea{
    background: transparent;
   border: solid black;
    width: 100px;
    margin: 5px;
    padding: 5px;
    font-family: 20px;
   
}
.pop input::placeholder{
    color: black;
}
.pop textarea::placeholder{
    color: black;
}
.pop button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: cornsilk;
    margin: 5px;
}
.pop input:focus{
    outline: none;
}
.pop textarea:focus{
    outline: none;
}